<%-include('./includes/head.ejs')%>
    

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
<form action="">
<input type="text" style="height:32px;" placeholder="City or Village,State">
<button  type="button" class="btn btn-primary btn-sm">WEATHER</button>
</form></div></div></div>



<div class="container mt-3"><div class="row px-2 justify-content-center"><p class="col-sm-10 col-lg-8" id="para"></p></div></div>
    
    

<script src="/1.js"></script>



</body>
</html>